<!-- ******HEADER****** -->
<header class="header">
  <div class="container clearfix">
    <img class="profile-image img-fluid float-left rounded-circle" src="assets/images/profile.png"
      alt="profile image" />
    <div class="profile-content float-left">
      <h1 class="name">Sohrab Alam Ansari</h1>
      <h2 class="desc">Angular Developer</h2>
      <ul class="social list-inline">
        <li class="list-inline-item"><a href="https://twitter.com/a_shohrab" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/sohrab-alam-ansari-2077a1111/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="list-inline-item"><a href="https://github.com/ansarishohrab" target="_blank"><i class="fab fa-github-alt"></i></a></li>
      </ul>
    </div>
    <!--//profile-->
  </div>
  <!--//container-->
</header>
<!--//header-->
