<header class="header">
  <div class="container clearfix">
    <img class="profile-image img-fluid float-left rounded-circle" [src]="portFolioData.profileImage"
      alt="profile image" />
    <div class="profile-content float-left">
      <h1 class="name">{{portFolioData.firstname}} {{portFolioData.lastname}}</h1>
      <h2 class="desc">{{portFolioData.designation}}</h2>
      <ul class="social list-inline">
        <li *ngFor="let socialData of portFolioData.Socials" class="list-inline-item"><a
            [href]="socialData.redirectionLink" target="_blank"><i [class]="socialData.iconClass"></i></a></li>
        <li class="list-inline-item"><a (click)="editSocialDetails()"><i class="fas fa-edit"></i></a></li>
      </ul>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn" (click)="editBasicDetails()"><i class="fas fa-edit"></i></button>
    </div>
  </div>
</header>
