<section class="experience section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">Work Experience</h2>
    <div class="content">
      <div class="item" *ngFor="let experience of portFolioData.experiences">
        <h3 class="title">{{experience.designation}} - <span class="place"><a href="#">{{experience.company}}</a></span>
          <span class="year">({{experience.joiningDate}} - {{experience.endDate}})</span>
        </h3>
        <p>{{experience.description}}</p>
      </div>
    </div>
  </div>
</section>
