<form [formGroup]='registerForm'>
  <div class="card-body">
    <div class="d-flex flex-column" formArrayName="experiences">
      <ng-container *ngFor="let experience of getExperiencesArray().controls; index as expInd">
        <div class="d-flex" [formGroupName]="expInd">
          <div class="form-group w-100 m-2">
            <label for="company">Company</label>
            <input type="text" class="form-control" id="company" formControlName="company" placeholder="Enter company">
            <small
              *ngIf="(experience.controls['company'].dirty || experience.controls['company'].touched || submitted) && experience.controls['company'].errors?.required"
              class="p-error">Please enter company</small>
          </div>
          <div class="form-group w-100 m-2">
            <label for="designation">Designation</label>
            <input type="text" class="form-control" id="designation" formControlName="designation"
              placeholder="Enter designation">
            <small
              *ngIf="(experience.controls['designation'].dirty || experience.controls['designation'].touched || submitted) && experience.controls['designation'].errors?.required"
              class="p-error">Please enter designation</small>
          </div>
          <div class="form-group w-100 m-2 d-flex flex-column">
            <label for="startDate">Joining Date</label>
            <p-calendar #exStartDate id='startDate' formControlName="joiningDate" [maxDate]="exEndDate.value || ''">
            </p-calendar>
            <small
              *ngIf="(experience.controls['joiningDate'].dirty || experience.controls['joiningDate'].touched || submitted) && experience.controls['joiningDate'].errors?.required"
              class="p-error">Please enter joining date</small>
          </div>
          <div class="form-group w-100 m-2 d-flex flex-column">
            <label for="endDate">Leaving Date</label>
            <p-calendar #exEndDate id='endDate' formControlName="endDate" [minDate]="exStartDate.value  || ''">
            </p-calendar>
            <small
              *ngIf="(experience.controls['endDate'].dirty || experience.controls['endDate'].touched || submitted) && experience.controls['endDate'].errors?.required"
              class="p-error">Please enter leaving date</small>
          </div>
          <div class="form-group w-100 m-2">
            <label for="compDescription">Description</label>
            <textarea class="form-control" id="compDescription" rows="3" formControlName="description"
              placeholder="Enter company description"></textarea>
            <small
              *ngIf="(experience.controls['description'].dirty || experience.controls['description'].touched || submitted) && experience.controls['description'].errors?.required"
              class="p-error">Please enter description</small>
          </div>

        </div>
      </ng-container>
      <div class="d-flex justify-content-end">
        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-outlined float-right"
          (click)="addExperiencesRow()"></button>
      </div>
      <button pButton type="button" label="Submit" class="p-button-outlined m-2" (click)="onSubmit()"
        *ngIf="config.data"></button>
    </div>
  </div>
</form>
