<app-header></app-header>
<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- Basic information -->
    <p-accordion [multiple]="true">
      <p-accordionTab header="Basic details" [selected]="true">
        <app-basic-details-form [registerForm]='registerForm' [submitted]='submitted'></app-basic-details-form>
      </p-accordionTab>
      <p-accordionTab header="Social Media Information">
        <app-social-info-form [registerForm]='registerForm' [submitted]='submitted'></app-social-info-form>
      </p-accordionTab>
      <p-accordionTab header="Projects">
        <app-projects-form [registerForm]='registerForm' [submitted]='submitted'></app-projects-form>
      </p-accordionTab>
      <p-accordionTab header="Experiences">
        <app-experience-form [registerForm]='registerForm' [submitted]='submitted'></app-experience-form>
      </p-accordionTab>
      <p-accordionTab header="Skills">
        <app-skills-form [registerForm]='registerForm' [submitted]='submitted'></app-skills-form>
      </p-accordionTab>
      <p-accordionTab header="Education">
        <app-education-form [registerForm]='registerForm' [submitted]='submitted'></app-education-form>
      </p-accordionTab>

      <p-accordionTab header="Languages Known">
        <app-language-form [registerForm]='registerForm' [submitted]='submitted'></app-language-form>
      </p-accordionTab>
    </p-accordion>

    <button pButton type="submit" label="Submit" class="p-button-outlined m-2"></button>
  </form>
</div>
