<div *ngIf="sharedService.portFolioData">
  <app-header [portFolioData]="sharedService.portFolioData"></app-header>
  <div class="bottom-box">
    <div class="container sections-wrapper">
      <div class="row">
        <div class="primary col-lg-8 col-12">
          <app-about-me [portFolioData]="sharedService.portFolioData"></app-about-me>
          <app-projects [portFolioData]="sharedService.portFolioData"></app-projects>
          <app-work-experience [portFolioData]="sharedService.portFolioData"></app-work-experience>
        </div>
        <div class="secondary col-lg-4 col-12">
          <app-basic-info [portFolioData]="sharedService.portFolioData"></app-basic-info>
          <app-skills [portFolioData]="sharedService.portFolioData"></app-skills>
          <app-education [portFolioData]="sharedService.portFolioData"></app-education>
          <app-languages [portFolioData]="sharedService.portFolioData"></app-languages>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="alert alert-danger d-flex justify-content-center align-items-center" *ngIf="!sharedService.portFolioData">
  Your profile not available
</div>
