<!-- <section class="latest section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">Latest Project</h2>
    <div class="content">

      <div class="item featured text-center">
        <h3 class="title mb-3">{{portFolioData.latest_project.title}}</h3>

        <div class="desc text-left">
          <p>{{portFolioData.latest_project.description}}</p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="projects section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">Other Projects</h2>
    <div class="content">
      <div class="item" *ngFor="let project of portFolioData.Projects">
        <h3 class="title">{{project.title}}</h3>
        <p class="summary">{{project.description}}</p>
      </div>
    </div>
  </div>
</section>
