<section class="latest section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">Latest Project</h2>
    <div class="content">

      <div class="item featured text-center">
        <h3 class="title mb-3">Sales CRM for growing sales teams</h3>

        <div class="desc text-left">
          <p>A sales CRM that offers every feature required for your sales team to achieve their quotas and grow your
            relationships
            and revenue.</p>
        </div>
      </div>
      <!-- <div class="item row">
        <a class="col-md-4 col-12"
          href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/"
          target="_blank">
          <img class="img-fluid project-image rounded shadow-sm" src="assets/images/projects/project-1.png"
            alt="project name" />
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title"><a
              href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/"
              target="_blank">CoderPro - Boootstrap Startup Template For Software Projects</a></h3>
          <p class="mb-2">You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a
            tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque,
            mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
          <p><a class="more-link"
              href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/"
              target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
        </div>
      </div> -->
    </div>
  </div>
</section>

<section class="projects section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">Other Projects</h2>
    <div class="content">
      <div class="item">
        <h3 class="title">Ionic Mobile Application for India’s one of the leading Credit cooperative society</h3>
        <p class="summary">This application consist of All the features that any bank application has such as Mobile
          Recharge, Wallet Recharge,
          Fund Transfer within bank & outside bank.</p>
      </div>

      <div class="item">
        <h3 class="title">Advisor Facing Ionic Application for India’s one of the leading credit cooperative society
        </h3>
        <p class="summary">I have made this application for advisor by which they can make DD Collection, RD Collection,
          New Account Opening and
          more features like this.</p>
      </div>

      <div class="item">
        <h3 class="title">Web & Mobile Application using Angular and Ionic for leading bank</h3>
        <p class="summary">This application provides features like Applying for personal loan, Fund transfer, Recharges etc.</p>
      </div>
    </div>
  </div>
</section>
