<aside class="languages aside section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">Languages</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li class="item" *ngFor="let language of portFolioData.Languages">
          <span class="title"><strong>{{language.name}}:</strong></span>
          <span class="level">{{language.level}} <br class="visible-xs" />
            <i class="fas fa-star" *ngFor='let num of numbSequences(language)'></i>
          </span>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn" (click)="editDetails()"><i class="fas fa-edit"></i></button>
    </div>
  </div>
</aside>
