<aside class="education aside section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">Education</h2>
    <div class="content">
      <div class="item" *ngFor="let education of portFolioData.Education">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> {{education.degree}}</h3>
        <h4 class="university">{{education.college}}
          <span class="year">({{education.startDate | date:'y'}}-{{education.endDate | date:'y'}})</span>
        </h4>
      </div>
    </div>
  </div>
</aside>
