<aside class="education aside section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">Education</h2>
    <div class="content">
      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> B.E Computer Engineering</h3>
        <h4 class="university">Silver Oak College of Engineering & Technology
          <span class="year">(2013-2017)</span>
        </h4>
      </div>
      <!--//item-->
      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> HSC</h3>
        <h4 class="university">Rajasthan Hindi High School
          <span class="year">(2011-2013)</span>
        </h4>
      </div>

      <div class="item">
        <h3 class="title"><i class="fas fa-graduation-cap"></i> SSC</h3>
        <h4 class="university">Shahpur Hindi High School
          <span class="year">(2011)</span>
        </h4>
      </div>
      <!--//item-->
    </div>
    <!--//content-->
  </div>
  <!--//section-inner-->
</aside>
<!--//section-->
