<aside class="skills aside section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">Skills</h2>
    <div class="content">
      <div class="skillset">

        <div class="item" *ngFor="let skill of portFolioData.skills">
          <h3 class="level-title">{{skill.name}}<span class="level-label" data-toggle="tooltip"
              data-placement="left" data-animation="true"
              [title]="skill.description"><i
                class="fas fa-info-circle"></i>{{skill.level}}</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="20%">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
