<aside class="skills aside section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">Skills</h2>
    <div class="content">
      <div class="skillset">

        <div class="item">
          <h3 class="level-title">Angular<span class="level-label" data-toggle="tooltip"
              data-placement="left" data-animation="true"
              title="You can use the tooltip to explain more about your skill level..."><i
                class="fas fa-info-circle"></i>Pro</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="100%">
            </div>
          </div>
          <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
          <h3 class="level-title">Ionic 2<span class="level-label" data-toggle="tooltip"
              data-placement="left" data-animation="true"
              title="You can use the tooltip to explain more about your skill level..."><i
                class="fas fa-info-circle"></i>Pro</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="100%">
            </div>
          </div>
          <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
          <h3 class="level-title">HTML, CSS & SCSS<span class="level-label" data-toggle="tooltip"
              data-placement="left" data-animation="true"
              title="You can use the tooltip to explain more about your skill level..."><i
                class="fas fa-info-circle"></i>Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>
          </div>
          <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
          <h3 class="level-title">Javascript, jQuery & TypeScript<span class="level-label" data-toggle="tooltip" data-placement="left"
              data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i
                class="fas fa-info-circle"></i>Expert</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="90%">
            </div>
          </div>
          <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
          <h3 class="level-title">Node JS<span class="level-label" data-toggle="tooltip" data-placement="left"
              data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i
                class="fas fa-info-circle"></i>Intermediate</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="50%">
            </div>
          </div>
          <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
          <h3 class="level-title">Java<span class="level-label" data-toggle="tooltip" data-placement="left"
              data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i
                class="fas fa-info-circle"></i>Intermediate</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="50%">
            </div>
          </div>
          <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
          <h3 class="level-title">Android Native<span class="level-label" data-toggle="tooltip" data-placement="left"
              data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i
                class="fas fa-info-circle"></i>Beginner</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="25%">
            </div>
          </div>
          <!--//level-bar-->
        </div>
        <!--//item-->

        <div class="item">
          <h3 class="level-title">SQL & MongoDB<span class="level-label" data-toggle="tooltip" data-placement="left"
              data-animation="true" title="You can use the tooltip to explain more about your skill level..."><i
                class="fas fa-info-circle"></i>Beginner</span></h3>
          <div class="level-bar">
            <div class="level-bar-inner" data-level="25%">
            </div>
          </div>
          <!--//level-bar-->
        </div>
        <!--//item-->

      </div>
    </div>
    <!--//content-->
  </div>
  <!--//section-inner-->
</aside>
<!--//section-->
