<section class="about section">
  <div class="section-inner shadow-sm rounded">
    <h2 class="heading">About Me</h2>
    <div class="content">
      <p>I am angular developer and I live in ahmedabad with my family. I assure that I can give my 100% in everything,
        whether it is small project or big, I does it in very professional way and perfectionism.
        My hobby is singing and exploring new thing.
        I also have very keen interest in gathering knowledge of Space, Outer Universe.
      </p>

    </div>
    <!--//content-->
  </div>
  <!--//section-inner-->
</section>
<!--//section-->
